fastapi
uvicorn[standard]

pandas
numpy
openpyxl
python-multipart
charset-normalizer

pydantic
sqlalchemy
alembic
psycopg2-binary

python-dotenv

loguru
scikit-learn
pytest
pytest-asyncio
statsmodels
joblib
xgboost